<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Chandra's Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/extras/bootstrap.css" media="all"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/style.css" media="all"/>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="Portfolio" class='background'>
    <navbar class='no-print navbar-inverse'></navbar>
    <div id="overlay">
        <div id="main" ui-view></div>
        <foot class='no-print'></foot>
    </div> 
</body>
</html>
