
<div class='page'>
	<div id='resume' class='resume'>
	<div class='heading'>
		<div class='col-sm-8 no-padding'>
			<h1>Chandra Galbiati</h1>
			<h3 class='blue-text'>Software Engineer</h3>
			<h5>New York, NY</h5>
		</div>

		<div class='col-sm-4 no-padding contact'>
			<p><span class="glyphicon glyphicon-earphone"></span> 720-771-0571</p>
			<p><span class="glyphicon glyphicon-envelope"></span> chandra.galbiati@gmail.com</p>
			<a href="linkedin.com/in/chandragalbiati"><p><i class="fa fa-linkedin"></i> linkedin.com/in/chandragalbiati</p></a>
			<a href="github.com/cgalbiati"><p><i class="fa fa-github"></i> github.com/cgalbiati</p></a>
		</div>
		<div class="clearfix"></div>
	</div>
		
		<div class='col-sm-10 padding-right-only'>
			<h3 class='section-title'>Projects</h3>
			<div class="colorstrip"/></div>
				<ul class='no-padding'>
					<li ng-repeat='project in projects'><resume-item item=project></resume-item></li>
				</ul>
				<div class="clearfix"></div>
				
				<h3>Other Experience</h3>
				<div class="colorstrip"/></div>
				<ul class='no-padding'>
					<li ng-repeat='job in jobs'><resume-item item=job></resume-item></li>
				</ul>
			<div class="clearfix"></div>

			<h3>Education</h3>
			<div class="colorstrip"/></div>
				<ul class='no-padding'>
					<li ng-repeat='school in education'><resume-item item=school></resume-item></li>
				</ul>
		</div>
		<div class='col-sm-2 no-padding'>
			<h3 class='section-title'>Skills</h3>
			<div ng-repeat='item in skills' class='no-padding'><skill skill=item class='skill-item'></skill>
				<div class="clearfix"></div>
			</div>
			<h3 class='section-title'>Tools</h3>
			<div ng-repeat='item in tools' class='no-padding'><skill skill=item class='skill-item'></skill>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

