#contact {
 
  .contact{
    text-align: center;
  }

  .contact > div {
    display: inline-block;
  }

  .panel {
    opacity: .8;
  }

  .control-group {
    padding: 10pt;
  }
  textarea, input, button, .panel {
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
  }

  textarea {
    min-height: 100px;
  }
}