#about {

  margin: 0 auto;
  width: 90%;
  @include clearfix;

  p {
    // width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 14pt;
    font-weight: 300;
    float: left;
    margin-bottom: 10pt;
  }

  a {
    color: #333;
    text-decoration: underline;
  }

  a:hover {
    color: black;
  }

img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto;
    }
}
