#portfolio{
	h1, h2, p{
		text-align: center
	}
	.project-circle{
		border: solid black 2px;
		border-radius: 300px;
		background-color: white;
		margin: auto;
		min-height: 250px;
		padding: 10px;
	}
}

// overflow:hidden;
//   z-index:2;
//   margin-bottom:15px;

  .cover-image{
    width:100%;
    height:auto;
	overflow:hidden;
  }

  // &:hover {
  //   z-index: 2;
  //   cursor: none;
  //   background-color: white;
  //   transform: scale3d(1.02, 1.02, 1.02) translate3d(0, -1px, 0);
  // }