@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

$font-default: 'Josefin Sans';
$font-title: 'Julius Sans One';
$light-teal: #80ffde;
$aqua-blue: #33cbff;
$deep-blue: #0000e6;
$deep-blue-med: #0251ad;
$deep-blue-low: #4566ba;
$sage-green: #05faa3;
$brighter-aqua: #00ebf3;
$brighter-teal: #00ffe4;
$teal: #00e6ce;

* {
  box-sizing: border-box;
}
@media screen {
  body { 
    // @extend .background-grad;
    min-height: 100vh;
  }
  body {
    // background: #fdfdfd;
    // background: red;
  }
  body {
    background: $aqua-blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $brighter-aqua, $aqua-blue, $teal); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $brighter-aqua, $aqua-blue, $teal); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $brighter-aqua, $aqua-blue, $teal); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $brighter-aqua, $aqua-blue, $teal); /* Standard syntax */
  }
  .background-img{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    height: 100%;
    content: '';
    // display: none;
    // font-weight: bold;
    // overflow: hidden;
    background: url(/images/mountain.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .2;
    z-index: -11;
  }

//   .overlay{
//     min-height: 100vh;
//     opacity: .8;
//     // filter: alpha(opacity=80);
// }
//   .background{
//     background: url(/images/mountain.jpg);
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//     // opacity: .5;
//   }
  // #overlay{
  //   // background: url(/images/mountain.jpg);
  //   @extend .overlay;
  //   @extend .background-grad;
  // }
}
h1, h2, h3{
  font-family: $font-title, Times, Serif;
}
h4, h5, h6, a, p, li{
  font-family: $font-default, Times, Serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding: 0;
  // max-width: 1200px;
  margin: 0 auto;
}

.inner-main{
  padding: 120px 20px 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.text-right {
  float: right;
}
@media (max-width: 773px) {
  #main {
    padding-top: 200px;
  }
}

@media print {
  body {
    background: transparent;
  }
  .background, .background-grad, .overlay {
    background: transparent;
    opacity: 1;
  }
  .no-print {
    display: none;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'resume/main';
@import 'portfolio/main';
@import 'contact/main';

